:root {
    font-family: 'Noto Sans', system-ui, sans-serif;

    --color-1: rgb(43, 37, 48);
    --color-2: rgb(8, 2, 14);
    --color-3: rgb(248, 236, 255);
    --color-4: rgb(233, 102, 215);

    --radius: 15px;

    color: var(--color-3);
}

a {
    font-weight: bold;
    color: var(--color-3);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--color-2);
}

.content {
    width: min(800px, calc(100vw - 30px));
    display: block;
    padding: 10px;

    background: var(--color-1);
    border-radius: var(--radius);
}

img {
    max-width: min(300px, 30vw);
    max-height: min(300px, 30vh);
}

.button {
    background: var(--color-4);
    border-radius: var(--radius);

    display: inline-block;

    margin-right: 5px;
    margin-bottom: 15px;
    padding: 5px;
}